provider "tencentcloud" {
  region = "ap-guangzhou"
}

module "tencentcloud-terraform-local-debug" {
  source   = "./examples/tencentcloud-instance-simple"
  image_id = "img-2xnn7dex"
  availability_zone = "ap-guangzhou-3"
}
