Provides a resource to check free certificate verification for TEO (EdgeOne) domains.

Example Usage

```hcl
resource "tencentcloud_teo_check_free_certificate_verification" "example" {
  zone_id = "zone-2o3h21ed8bsu"
  domain  = "example.com"
}
```
