# This is a basic workflow to help you get started with Actions

name: docs

# Controls when the workflow will run
on:
  pull_request:
    types: [ opened, reopened ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  docs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      # Runs a set of commands using the runners shell
      - name: doc generate
        run: |
          doc=`make doc 2>&1`
          if [ $? -ne 0 ]; then
          echo "$doc"| tail -n 4|head -n 2
          printf "COMMIT FAILED\n"
          exit 1
          fi

      #  a set of commands using the runners shell
      - name: doc diff
        run: |
          diff=`git diff --name-only website/docs/`
          if [ "$diff" != "" ]; then
          printf "There are docs updated when checking, 'git add' it first.\n"
          printf "COMMIT FAILED\n"
          exit 1
          fi